<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/board.css}">
<title>Insert title here</title>
</head>
<body>
 <div class="head"><head><h1>게시판</h1></head></div>
    <table class="post-table">
        <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>작성날짜</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>게시물 제목 1</td>
                <td>작성자1</td>
                <td>게시물 내용 1</td>
                <td>2023-11-27 12:34:56</td>
            </tr>
            <tr>
                <td>게시물 제목 2</td>
                <td>작성자2</td>
                <td>게시물 내용 2</td>
                <td>2023-11-28 09:45:30</td>
            </tr>
        </tbody>
    </table>
</body>
</html>